
.sb-search {
	position: relative;
	width: 0%;
	min-width: 60px;
	height: 35px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	border: 1px solid transparent;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
	height: 33px;
	margin: 0;
	z-index: 10;
	padding: 9px 50px 10px 15px;
	font-family: inherit;
	font-size: 12px;
	color: #fff;
}

.sb-search-input::-webkit-input-placeholder {
	color: #fff;
}

.sb-search-input:-moz-placeholder {
	color: #fff;
}

.sb-search-input::-moz-placeholder {
	color: #fff;
}

.sb-search-input:-ms-input-placeholder {
	color: #fff;
}

.sb-icon-search,
.sb-search-submit  {
	width: 40px;
	height: 30px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
}

.sb-search-submit {
	background: transparent; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background-color: transparent;
	z-index: 90;
}

.sb-icon-search:before {
	content: "\f002";
	font-family: fontawesome;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 20%;
	border: 1px solid #fff;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
